body{
    background: black;
    height: 100%;
}


.morfius{
    position: relative;
    width: 516px;
    height: 438px;
    background-image: url("../images/morpheu.jpg");
    background-repeat: no-repeat;
    margin: 5% auto 0 auto;
}

@media (max-width: 776px){
    .morfius{
        width: 310px;
        height:263px;
        background-image: url("../images/morpheu_mini.jpg");
    }
}

.red_tablet{
    /*background: red;*/
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 65%;
    margin-left: 17%;
}
.blue_tablet{
    /*background: blue;*/
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 66%;
    margin-left: 77%;
}

.title{
    color: green;
    /*width: 70%;*/
}
.text-green{
    color: green;
}
.bg-black{
    background: #141413;
    /*-webkit-box-shadow: 15px 10px 50px -14px rgba(255,255,255,0.75);*/
    /*-moz-box-shadow: 15px 10px 50px -14px rgba(255,255,255,0.75);*/
    /*box-shadow: 15px 10px 50px -14px rgba(255,255,255,0.75);*/
}
.bg-black2{
    color: white;
    width: 50%;
    margin: 5% auto;
    padding: 5%;
    text-align: center;
    background: #141413;
    /*-webkit-box-shadow: 15px 10px 50px -14px rgba(255,255,255,0.75);*/
    /*-moz-box-shadow: 15px 10px 50px -14px rgba(255,255,255,0.75);*/
    /*box-shadow: 15px 10px 50px -14px rgba(255,255,255,0.75);*/
}


.myshadow{
    -webkit-box-shadow: 5px -2px 123px -22px rgba(255,255,255,1);
    -moz-box-shadow: 5px -2px 123px -22px rgba(255,255,255,1);
    box-shadow: 5px -2px 123px -22px rgba(255,255,255,1);
}
