@font-face {
    font-family: main;
    src: url('font/BEBASNEUE_REGULAR.otf');
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.body1{
    background-image: url("../images/page03/banner-10.jpg");
}
.body2{
    background-image: url("../images/page03/bg03.jpg");
}
.body3{
    background-image: url("../images/page03/willa.jpg");
}

.caption01{

    font-family: main, serif;
    color: #FEB322 ;
}
.box01{

    font-family: main, serif;
    background: rgba(232,225,196,0.8);
    text-align: center;
    padding: 2%;
}
.box03{
    font-family: main, serif;
    background: rgba(232,225,196,0.8);
    text-align: center;
    padding: 2%;
}
.box_frame01{
    padding: 5px;
    border: 3px solid rgba(232,225,196,0.8);
}
.subscribe_btn{
    font-family: main, serif;
    font-size: 5em;
    background:#FEB225;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 0.5%
}

.block02{
    font-family: main, serif;
    background: rgba(242, 238, 240, 0.57) url("../images/page03/bg02.jpeg");
    background-size: cover;
}
.block04{
    font-family: main, serif;
    background: rgba(242, 238, 240, 0.57) url("../images/page03/bg02.jpeg");
    background-size: cover;
    max-width: 100%;
}
.caption02{
    color: #FEB322;
    font-family: main, serif;
    text-align: center;
}
.mytimer{
    width: 620px;
    margin: auto;
}
.time-units{
    width: 140px;
    display: inline-block;
}
.time-units>p{
    font-family: main, serif;
    text-align: center;
}

.days_count_down {
    width: 160px;
    padding: 0.5%;
    margin: auto;
}
.slider{
    width: 90%;
    margin: auto;
}
.slide{
    width: 50%;
}
@media (max-width: 776px){
    .block01 .block02 .block03 .block04{
        font-size: 0.25em;
    }
    .time-units{
        width: 110px;
    }
    .mytimer{
        width: 230px;
    }
    .days_count_down{
        width: 115px;
    }
    .subscribe_btn{
        width: 80%;
    }
}
@media  (min-width : 775px) and (max-width : 1023px){

}
