@font-face {
    font-family: main;
    src: url('font/BEBASNEUE_REGULAR.otf');
}
 html, body{
    height:100%;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment:fixed;
}
.body1{
    background-image: url("../images/page03/banner-10.jpg");
    background-color: #1A191E;
}
.body2{
    background-image: url("../images/page03/bg03.jpg");
    background-color: #122337;
}
.body3{
    background-image: url("../images/page03/willa.jpg");
    background-color: #330E0B;
}

.caption01{
    font-family: main, serif;
    color: #FEB322;
}
.box01{
    font-family: main, serif;
    background: rgba(232,225,196,0.8);
    text-align: center;
    padding: 2%;
}
.box02{
    font-family: main, serif;
    background: rgba(232,225,196,1);
    text-align: center;
    padding: 2%;
}

.box03{
    font-family: main, serif;
    background: rgba(232,225,196,0.8);
    text-align: center;
    padding: 2%;
}
.box_frame01{
    padding: 5px;
    border: 3px solid rgba(232,225,196,0.8);
}
.subscribe_btn{
    font-family: main, serif;
    font-size: 5em;
    background:red;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 1% 0.4% 0.4% 0.4%;
}

.block02{
    font-family: main, serif;
    background: rgba(242, 238, 240, 0.57) url("../images/page03/bg02.jpeg");
    background-size: cover;
}
.block04{
    font-family: main, serif;
    background: rgba(242, 238, 240, 0.57) url("../images/page03/bg02.jpeg");
    background-size: cover;
    max-width: 100%;
}
.caption02{
    color: #FEB322;
    font-family: main, serif;
    text-align: center;
}
.mytimer{
    width: 620px;
    margin: auto;
}
.time-units{
    width: 140px;
    display: inline-block;
}
.time-units>p{
    font-family: main, serif;
    text-align: center;
}

.days_count_down {
    width: 160px;
    padding: 0.5%;
    margin: auto;
}
.slider{
    width: 90%;
    margin: auto;
}
.slide{
    width: 50%;
}




@media (max-width: 776px){
    .body1{
        background-image: url("../images/page03/bg1.png");
    }
    .time-units{
        width: 110px;
    }
    .mytimer{
        width: 230px;
    }
    .days_count_down{
        width: 115px;
    }
    .subscribe_btn{
        width: 80%;
    }
    .block01,.block02,.block03,.block04{
        font-size: 1em;
    }
    .prev,.prev1,.next,.next1{
        font-size: 0.5em;
    }
    .slider1{
        font-size: 1.5em;
    }
    .box02{
        font-size:0.5em;
    }
    .caption01{
        font-size:2em;
    }
    .caption02{
        font-size:2em;
    }
}

@media  (min-width : 775px){

}